:root{
    /*Character position*/
    --var-posY: 50vh;
    --var-posX: 50vh;

    /*Ennemy position*/
    --var-posY-ennemy: 40vh;
    --var-posX-ennemy: 80vh;
}
body{
    background-color: black;
}
.title{
    color: white;
}
.character{
    position: absolute;
    width: 5vh;
    height: 10vh;
    background-color: blue;
    transform-origin: bottom center;
    top: var(--var-posY);
    left: var(--var-posX);
}

.box{
    position: absolute;
    width: 20vh;
    height: 20vh;
    background-color: #6e4521;
    transform-origin: bottom center;
    top: 20vh;
    left: 20vh;
}
.ennemy{
    position: absolute;
    width: 5vh;
    height: 10vh;
    background-color: red;
    transform-origin: bottom center;
    top: var(--var-posY-ennemy);
    left: var(--var-posX-ennemy);
}
